about-time==4.2.1
absl-py==1.4.0
accelerate==0.28.0
aiohttp==3.9.1
aiosignal==1.3.1
albumentations==1.3.1
alive-progress==3.1.5
altgraph==0.17.4
antialiased-cnns==0.3
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
attrs==23.2.0
audeer==1.20.1
audiofile==1.2.1
audioread==3.0.0
audmath==1.2.1
audtorch==0.6.4
babel==2.17.0
bcrypt==4.0.1
beartype==0.17.2
beautifulsoup4==4.13.3
bitsandbytes==0.43.0
bleach==6.2.0
blobfile==3.0.0
cachetools==5.3.1
causal-conv1d==1.2.0.post2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
coloredlogs==15.0.1
CoLT5-attention==0.10.20
comm==0.2.2
contourpy==1.0.7
cryptography==41.0.0
cupy-cuda12x==12.1.0
cycler==0.11.0
Cython @ file:///croot/cython_1736260275371/work
datasets==2.19.1
deap==1.4.1
debugpy==1.8.13
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
docopt==0.6.2
einops==0.7.0
einops-exts==0.0.4
einx==0.2.2
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.2.0
fastjsonschema==2.21.1
fastmri==0.3.0
fastrlock==0.8.1
filelock==3.12.0
flake8==7.0.0
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2023.5.0
fvcore==0.1.5.post20221221
google-auth==2.20.0
google-auth-oauthlib==1.0.0
grapheme==0.6.0
grpcio==1.54.2
h11==0.14.0
h5py==3.10.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.4
imageio==2.33.0
imbalanced-learn==0.12.0
imblearn==0.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
imutils==0.5.4
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.2.0
json5==0.10.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.4
kornia==0.6.5
lazy_loader==0.3
libcst==1.1.0
librosa==0.10.0.post2
lightgbm==4.3.0
lightning-utilities==0.10.0
llvmlite==0.40.0
lmdb==1.7.3
local-attention==1.9.1
loguru==0.7.2
lpips==0.1.4
lxml==5.3.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.3
monai==1.3.0
mpi4py @ file:///croot/mpi4py_1671223370575/work
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.16
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nibabel==5.1.0
ninja==1.11.1.1
notebook==7.3.3
notebook_shim==0.2.4
numba==0.57.0
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
onnx==1.14.0
onnxruntime==1.16.2
opencv-contrib-python==4.7.0.72
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.0.7
overrides==7.7.0
packaging==23.1
pandas==2.0.2
pandoc==2.3
pandocfilters==1.5.1
paramiko==3.2.0
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
Pillow==9.5.0
platformdirs==4.3.7
pluggy==1.5.0
plumbum==1.8.2
ply==3.11
pooch==1.6.0
portalocker==2.8.2
prometheus_client==0.21.1
prompt_toolkit==3.0.50
protobuf==4.23.3
psutil==5.9.5
ptflops==0.7.5
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.21.0
pydicom==2.4.3
pyflakes==3.2.0
Pygments==2.18.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pykwalify==1.8.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyradiomics==3.1.0
pytest==8.1.1
python-dateutil==2.8.2
python-json-logger==3.3.0
pytorch-lightning==2.1.3
pytz==2023.3
PyWavelets==1.6.0
PyYAML==6.0
pyzmq==26.3.0
qudida==0.0.4
referencing==0.36.2
regex==2024.5.15
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
runstats==2.0.0
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.13.0
Send2Trash==1.8.3
SimpleITK==2.3.1
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.6
soxr==0.3.5
stack-data==0.6.3
statsmodels==0.14.3
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.1
termcolor==2.4.0
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.9.26
timm==0.9.2
tinycss2==1.4.0
tokenizers==0.15.2
tomli==2.0.1
torch==2.2.0
torchaudio==0.13.1+cu117
TorchFix==0.5.0
torchmetrics==1.2.1
torchsummary==1.5.1
torchsummaryX==1.3.0
torchvision==0.17.0
tornado==6.3.3
tqdm==4.66.2
traitlets==5.14.3
transformers==4.39.1
triton==2.2.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.16
vector_quantize_pytorch==1.14.5
visdom==0.2.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.3.6
widgetsnbextension==4.0.13
xgboost==2.0.3
xxhash==3.4.1
yacs==0.1.8
yarl==1.9.4
zetascale==2.4.5
zipp==3.15.0
